/*
Error: Invalid CSS after "    }": expected selector or at-rule, was "}"
        on line 470 of /Users/valeriaroldanmotos/Documents/adalab-sprint1/trabajo-codechop/proteam-html-conjunto/d-s1-code-chop/scss/main.scss

465:       padding-top:30px;
466:     }
467:     .contenido-qs {
468:       padding-top: 0px;
469:     }
470:   }
471: 
472:   /*footer*\/
473:   footer {
474:     text-align: center;
475:     border-top: solid #B8B8b9 1px;margin-bottom: 45px;

Backtrace:
/Users/valeriaroldanmotos/Documents/adalab-sprint1/trabajo-codechop/proteam-html-conjunto/d-s1-code-chop/scss/main.scss:470
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:42:in `parse'
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `load'
/private/var/folders/_k/zq3c9qcd1yj1c9_hc24t_xt80000gn/T/AppTranslocation/5E5AFF4D-76D6-455D-93F8-4D87A0F89665/d/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    }\": expected selector or at-rule, was \"}\"\A         on line 470 of /Users/valeriaroldanmotos/Documents/adalab-sprint1/trabajo-codechop/proteam-html-conjunto/d-s1-code-chop/scss/main.scss\A \A 465:       padding-top:30px;\A 466:     }\A 467:     .contenido-qs {\A 468:       padding-top: 0px;\A 469:     }\A 470:   }\A 471: \A 472:   /*footer*/\A 473:   footer {\A 474:     text-align: center;\A 475:     border-top: solid #B8B8b9 1px;margin-bottom: 45px;"; }
