body {
  margin: 0px;
  /* font-family: "sans-serif"; */
  background: white;
  width: 100%;
}
.fija {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.h1 {
  background-color:#099d8d;
  opacity: 0.9;
  margin: 0;
  display: block;
  height: 60px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-name{
  font-family: 'Rubik',arial, helvetica, sans-serif;
  background-color:#099d8d;
  text-decoration: none;
  color: white;
  height: 18px;
}
.menu-{
  font-family:'Rubik',arial, helvetica, sans-serif;
  background-color:#14d9c4;
  opacity: 0.8;
  height: 45px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.equipment, .aboutus, .contact {
  display: inline-block;
  font-size: 17px;
  height: 17px;
}

.equipo, .we, .contacto{
  height: 17px;
  text-decoration: none;
  color: white;
}

/* .posicion {
position: relative;
top: 105px;
} */
/*Hero*/
.hero {
  height: 491.5px;
  position: relative;
  top: 0px;

}
.imagen-hero {
  background-image: url("../images/grupal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: top 0px left -100px;
  background-position: center;
  height: 421px;
  border: 1px solid red;

}

.imagen_grupo{
  /* width: 100%; */
  /* height: auto; */
}

.elimina-margin-padding {
  margin: 0px;
  padding: 0px;
}

.claim {
  position: relative;
  transform: translateY(-50%);
  color: #000000 100%;
  font-size: 18px;
  font-family: 'Open Sans',arial, helvetica, sans-serif;
  font-weight: 600;
  background-color: #FFFFFF;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right:  15px;
  padding-top:  15px;
  padding-bottom:  15px;
}

@media all and(min-width:768px) {
  .claim {
    border: 1px solid green;
    position: relative;
    transform: translateY(-100%);
    width: 441px;
    opacity: 0.5;
    margin-left: 45px;
    padding-left: 30px;
    padding-right:  30px;
  }

  .hero {
    height: 421px;
  }
  // .imagen-hero {
  //   background-image: url("../images/grupal-768.jpg");
  // }

}

@media all and(min-width:1200px) {

  .imagen-hero {
    height: 550px;
  }
  .hero {
    height: 550px;
  }
}

/*Fin Hero*/

/*main*/

.section-equipo {
  box-sizing: border-box;
}

.titulo {
  color: #099D8D;
  font-family: 'Rubik',arial, helvetica, sans-serif;
  text-align: center;
  margin: 0px;
}

.titulo_grande {
  font-size: 24px;
}

.titulo_pequeño {
  font-size: 22px;
}

.tit_nombre {
  color: #000000;
  font-family: 'Open Sans',arial, helvetica, sans-serif;
  font-size: 20px;
}

.texto {
  color:#54585A;
  font-size: 16px;
  font-family: 'Open Sans',arial, helvetica, sans-serif;
  font-weight:400;
  text-decoration: none;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.triangulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-left: 15px solid #F0F0F0;
  border-right: 15px solid #F0F0F0;
}

.fort {
  margin-top: 0px;
  margin-bottom: 0px;
}

.deb {
  margin: 0px;
}

.fort-deb {
  position: relative;
  background-color:#F0F0F0;
}

.team {
  padding-top: 30px;
}

.descripcion{
  padding-top: 15px;
  padding-bottom: 30px;
  margin: 0px;
}

.fortalezas {
  /* width: 50%; Cuando sea version tablet y pc*/
  padding-top: 30px;
  padding-bottom: 30px;
}

.debilidades {
  /* width: 50%; Cuando sea version tablet y pc*/
  padding-bottom: 45px;
}

.lista {
  list-style: none;
  padding-left:0px;
  padding-bottom: 30px;
}
/*---------------------quienes somos*------------------*/
.quienes-somos{
  box-sizing: border-box;
  padding: 30px 15px 30px;

}
.titulo-grande {
  font-family: 'Rubik',arial, helvetica, sans-serif;
  font-size: 24px;
  color: #099D8D;
  text-align: center;
  padding: 45px;
  margin:0px;
}

.titulo-pequeño {
  font-size: 22px;
  margin: 0;
}

.tit-nombre {
  margin: 0;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
}
.texto-qs {
  margin: 0;
  color:#54585A;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-align: center;
}

.contenido-qs{
  padding: 30px  0px 15px;
}
.recuadro-foto{
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.foto-individual{
  /* background-color: lightpink; */
  width: 180px;
  height: auto;
  /* overflow: hidden; */
  /* position: relative; */
  /* left:  50%;
  transform: translateX(-50%); */

}

.olga, .raquel, .valeria{
  padding-top: 30px;
}
.social-media{
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px 0px 15px;
}
.fab,.fas{
  color: #099D8D;
}

.item{
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

@media all and (min-width:768px){

  .titulo-grande{
    border: 0px;
  }
  .contenido-qs{
    border:0px;
  }

.quienes-somos{
  border: 0px;
  box-sizing: border-box;
  padding: 30px 15px 30px;
  width: 100%;
}
.foto {
border: 0px;
 display: flex;
}
.gemma,.raquel {
  flex-direction: row;
}
.olga,.valeria {
  flex-direction: row-reverse;
}
.olga,.raquel,.valeria{
  padding-top: 60px;
}
.valeria {
  margin-bottom:45px;
}
.recuadro-foto {
 width: 205px;
 height: 205px;
 border: 0px;
 background-size: cover;
 margin-right: 30px;
 margin-left: 30px;
 border-radius: 5px;
 border: 5px solid lightgrey;
}
.g {
  background-image: url("../images/gemma.jpg");
}
.o {
  background-image: url("../images/olga.jpg");
}
.r {
  background-image: url("../images/raquel.jpg");
}
.v {
  background-image: url("../images/valeria.jpg");
}
.flex-item {
  border: 0px;
  display: flex;
  flex-direction: column;
  width: 450px;
}
  .tit-nombre{
    border: 0px;
    padding: 0px;
  }

.GR {
  align-items: flex-start;
}
.OV {
  align-items: flex-end;
}
.texto-GR{
  text-align: left;
  border: 0px;
}
.texto-OV{
  text-align: right;
  border: 0px;
}
.texto-GR,.texto-OV {
  margin: 0;
  display: inline-block;
  padding-top: 15px;
  color: #54585A;
  font-size: 16px;
  font-family: 'Open Sans',arial, helvetica, sans-serif;
}
.social-media {
  border: 0px;
  padding-top:15px;
}
.contenido-qs {
  padding-top: 0px;
}
.item {
  border: 0px;
}
  .quienes-somos{
    box-sizing: border-box;
    padding: 30px 15px 30px;
    width: 100%;
  }
  .foto {
    display: flex;
  }
  .gemma,.raquel {
    flex-direction: row;
  }
  .olga,.valeria {
    flex-direction: row-reverse;
  }
  .olga,.raquel,.valeria{
    padding-top: 60px;
  }
  .recuadro-foto {
    width: 205px;
    height: 205px;
    padding: 30px;
  }
  //
  // .g {
  //   background-image: url(../gemma.jpg);
  // }
  // .o {
  //   background-image: url(../olga.jpg);
  // }
  // .r {
  //   background-image: url(../raquel.jpg);
  // }
  // .v {
  //   background-image: url(../valeria.jpg);
  // }
  .flex-item {
    display: flex;
    flex-direction: column;}

    .GR {
      align-items: flex-start;
    }
    .OV {
      align-items: flex-end;
    }
    .texto-GR{
      text-align: left;
    }
    .texto-OV{
      text-align: right;
    }
    .texto-GR,.texto-OV {
      margin: 0;
      display: inline-block;
      padding-top: 15px;
    }
    .social-media {
      padding-top:30px;
    }
    .contenido-qs {
      padding-top: 0px;
    }
  }

  /*footer*/
  footer {
    text-align: center;
    border-top: solid #B8B8b9 1px;margin-bottom: 45px;
  }

  .texto_claro {
    margin-top: 30px;
    margin-bottom: 20px;
    color:#B8B8b9;
    font-size: 14px;
    font-family: 'Open Sans',arial, helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
  }

  .pie {
    color:#54585A;
    font-size: 14px;
    font-family: 'Open Sans',arial, helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
  }

  .adalab-imagen {
    height: 45px;
    width: auto;
  }

  @media all and (min-width:768px) {
    .footer {
      position: relative;

    }
    .logo-adalab {
      position: absolute;
      left:20px;
      top: 64px;
      margin-bottom: 60px;
    }
    .nav {
      position: absolute;
      right: 20px;
      top: 25px;
    }
    .texto_claro {
      position: absolute;
      left:20px;
      top:30px;
      margin: 0px;
    }

  }

  /*footer end*/
  /*Cabecera */

  @media all and (min-width:768px){
    .fija {box-sizing:  border-box;
      background-color:#099d8d;
      height: 60px;
      padding-left: 45px;
      padding-right: 45px;
      display: flex;
      justify-content: space-between;
    }
    .h1{
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      align-items: center;
    }
    .first-name{
      padding: 0;
    }
    .menu-{
      background-color:#099d8d;
      height: 60px;
      text-align: center;
    }
    .equipment, .aboutus, .contact {
      height: 60px;
      padding: 0px;
    }
    .equipo, .we, .contacto{
      height: 60px;
      display: flex;
      align-items: center;
    }

    .aboutus, .contact{
      padding-left: 9px;
    }
  }
  /*fin cabecera*/
  /* De aquí pabajo ha tocao Gemma */
  @media all and (min-width:768px){
    .descripcion {
      padding-bottom: 60px;
    }
    .team{
      padding-top: 45px;
    }
    .fort-deb{
      display: flex;
    }
    .titulo_pequeño{
      padding-bottom: 15px;
    }
    .fortalezas{
      padding-top: 45px;
      padding-bottom: 60px;
      padding-right: 15px;
      width: 50%
    }
    .debilidades{
      width: 50%;
      padding-top: 45px;
      padding-left: 15px;
      padding-bottom: 60px;
    }
  }
  @media all and (min-width:1200px){
    .descripcion {
      padding-bottom: 60px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 15px;
      width: 50%;
      display: block;
      margin: auto;
    }
    .texto {
      width: 601px;
      padding: 0;
    }
    .team {
      padding-bottom: 60px;
    }
    .titulo, .titulo_grande {
      padding-bottom: 15px;
    }

    .fortalezas{
      padding-top: 45px;
      padding-bottom: 60px;
      padding-right: 22.5px;
      width: 50%;

    }
    .debilidades{
      width: 50%;
      padding-top: 45px;
      padding-left: 22.5px;
      padding-bottom: 60px;
    }

    .fort-deb{
      display: flex;
      padding: 0;
    }
    .triangulo {
      left: 52%;
    }

  }
  /*De aquí parriba ha tocado Gemma*/

  /*Contactos Olga*/

.hero-contacto {
  height: 300px;
  @media all and (min-width:1200px){
    height: 400px;
  }
}

.imagen-hero-contacto {
  background-image: url("../images/grupal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    // background-position: top 0px left -100px;
  background-position: center;
  height: 300px;
  @media all and (min-width:1200px){
    height: 400px;
  }
}

.contact-section{
  margin: 0;
  font-family: 'Open Sans',arial, helvetica, sans-serif;
  text-decoration: none;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  @media all and (min-width:768px){
      width: 442px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
      display: flex;
      flex-direction: column;
  }
  @media all and (min-width:1200px){
      width: 601px;
      padding-top: 45px;
  }
}

.contact-title{
  color: #099D8D;
  font-size: 24px;
}

span{
  color: #099D8D;
}

.text{
  color: #54585A;
  width: 100%;
}

.contact-title, .text1, .text2{
  margin: 0;
  text-align: center;
}

.formulario{
  box-sizing: border-box;
}

.insidebox1, .insidebox2, .insidebox3, .insidebox4{
  height: 45px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #b8b8b9;
}

@media all and (min-width:1200px){
  .insidebox2, .insidebox3{
    display: flex;
    flex-direction: row;
  }
}

  .text1{
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .text2{
    font-size: 12px;
    padding-bottom: 60px;
  }

  .labeltext1, .labeltext2, .labeltext3, .labeltext4{
    font-size: 14px;
    display: block;
    text-align: left;
  }

  @media all and (min-width:1200px){
    .labeltext2, .labeltext3{
      display: inline-block;
    }
  }

  @media all and (min-width:1200px){
    .insidebox2, .insidebox3{
      display: flex;
      flex-direction: row;
    }
    .insidebox2{
      width: 395px;
      margin-right: 44px;
    }
    .insidebox3{
      width: 162px;
    }
  }

  @media all and (min-width:1200px){
    .cajaformulario2, .cajaformulario3{
      display: inline-block;
    }
    .cajasjuntas{
      display: flex;
    }
  }

  .insidebox4{
    height: 105px;
    padding: 0;
  }

  .send{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 45px;
    margin: 15px 0 60px;
    padding: 0;
    cursor: pointer;
    background-color: #099D8D;
    border: 0;
    border-radius: 5px;
    text-align: center;
    @media all and (min-width:768px){
      width: 206px;
      // position: relative;
      // left: 236px;
    }
    @media all and (min-width:1200px){
      margin-bottom: 120px;
      // position: relative;
      // left: 395px;
    }
  }

  @media all and (min-width:768px){
    .cajasend{
      display: flex;
      flex-direction: row-reverse;
    }
  }
