
$font-Rubik: 'Rubik', sans-serif;
$font-Open-Sans: 'Open Sans', sans-serif;

$color-verde-oscuro: #099d8d;
$color-verde-claro: #14d9c4;
$color-blanco: #fff;
$color-negro: #000;
$color-gris-oscuro: #54585a;
$color-gris-claro: #b8b8b9;
$color-gris-fondo: #f1f1f1;

$color-primary: $color-verde-oscuro;
$color-secondary: $color-negro;
$color-terciary: $color-gris-oscuro;

$color-background: $color-gris-fondo;
