/* footer */

footer {
  text-align: center;
  border-top: solid #b8b8b9 1px;
  margin-bottom: 45px;
}

.texto_claro {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #b8b8b9;
  font-size: 14px;
  font-family: 'Open Sans', arial, helvetica, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.pie {
  color: #54585a;
  font-size: 14px;
  font-family: 'Open Sans', arial, helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.adalab-imagen {
  height: 45px;
  width: auto;
}

@media all and (min-width: 768px) {
  .footer {
    position: relative;
  }

  .logo-adalab {
    position: absolute;
    left: 20px;
    top: 64px;
    margin-bottom: 60px;
  }

  .nav {
    position: absolute;
    right: 20px;
    top: 25px;
  }

  .texto_claro {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #b8b8b9;
    font-size: 14px;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
  }

  .pie {
    color: #54585a;
    font-size: 14px;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
  }

  .adalab-imagen {
    height: 45px;
    width: auto;
  }
}

@media all and (min-width: 768px) {
  .footer {
    position: relative;
  }

  .logo-adalab {
    position: absolute;
    left: 20px;
    top: 64px;
    margin-bottom: 60px;
  }

  .nav {
    position: absolute;
    right: 20px;
    top: 25px;
  }

  .elimina-margin-padding {
    @include mp0;
  }

  .texto_claro {
    position: absolute;
    left: 20px;
    top: 30px;
    margin: 0;
  }
}

/* footer end */
