.fija {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: $color-primary;
  opacity: 0.9;
  margin: 0;
  // display: block;
}

.nombregrupo {
  // background-color:#099d8d;
  // opacity: 0.9;
  margin: 0;
  // display: block;
  height: 60px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-name {
  font-family: 'Rubik', arial, helvetica, sans-serif;
  background-color: $color-primary;
  text-decoration: none;
  color: white;
  height: 18px;
}

.menu- {
  font-family: 'Rubik', arial, helvetica, sans-serif;
  background-color: $color-verde-claro;
  opacity: 0.8;
  height: 45px;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.equipment,
.aboutus,
.contact {
  display: inline-block;
  font-size: 15px;
}

.equipo,
.we,
.contacto {
  text-decoration: none;
  color: white;
}

/* Mediaqueries Cabecera */

@media all and (min-width: 768px) {
  .contenedor {
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
    justify-content: space-between;
  }

  .fija {
    // background-color:#099d8d;
    height: 60px;
    // padding-left: 45px;
    // padding-right: 45px;
    // display: flex;
    // justify-content: space-between;
  }

  .nombregrupo {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
  }

  .first-name {
    padding: 0;
  }

  .menu- {
    background-color: $color-primary;
    height: 60px;
    text-align: center;
  }

  .equipment,
  .aboutus,
  .contact {
    height: 60px;
    padding: 0;
  }

  .equipo,
  .we,
  .contacto {
    height: 60px;
    display: flex;
    align-items: center;
  }

  .aboutus,
  .contact {
    padding-left: 9px;
  }
}

@media all and (min-width: 1200px) {
  .contenedor {
    width: 924px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* fin cabecera */
